nlp/Nepali_nlp/*.py
nlp/setup.*
!nlp/Nepali_nlp/__init__.py
nlp/key.json
!nlp/Nepali_nlp/unicode_nepali.py
!nlp/Nepali_nlp/local_dataset/
!nlp/Nepali_nlp/__pycache__
!nlp/Nepali_nlp/spellcheck.py
bot/token.txt