html {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}
a{
  text-decoration:none;
  color:black;
}
#main-section {
  overflow: hidden;
  background-color: #fafafa;
  color: #121212;
}
#chatbot {
  display: block;
  grid-template-columns: 3.5fr 1fr;
  position: relative;
  height: fit-content;
}
@keyframes collapse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.01);
  }
}

.flexer {
  display: block;
  position: relative;
  border-right: 0.3rem solid rgba(209, 190, 190, 0.726);
}
/* Styling the top nav section of the chat */
.chat-bar-collapsible {
  padding: 0.1rem;
}
.chat-navbar-collapsible {
  padding: 0.4rem 2rem;
  height: 6rem;

  border-bottom: 0.3rem solid rgba(209, 190, 190, 0.726);
  width: 100%;

  display: flex;

  align-items: center;
  justify-content: space-between;
  /* margin: .5rem; */
}

.right-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.right-head img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;

  padding: 0.7rem;
}
.right-head strong {
  margin-left: 3rem;

  font-size: 1.7rem;
}
.left-head {
  font-size: 2.2rem;
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chaticon {
  margin: 0.1rem 1.3rem;
  user-select: none;
  cursor: pointer;
  font-size: 2.2rem;
  position: relative;
}

#dark {
  margin-right: 2rem;
  height: 2.7rem;
  cursor: pointer;
  z-index: 22;
  width: 5rem;
  position: relative;
  background-color: #121212;
  border-radius: 4rem;
}
#darkmode {
  transition: all 0.3s;
  position: relative;
  font-size: 1.8rem;
  transform: translateX(-0.6rem);

}

#collapser #chatemoji2 {
  color: #fafafa;
  user-select: none;
  font-family: Helvetica;
  background-color: rgba(0, 0, 0, 0.685);
  position: absolute;
  padding: 1rem;
  font-size: 1.5rem;
  z-index: 22;

  right: -6rem;
  top: 3.9rem;
  padding: 0.4rem;
  border-radius: 1rem;
  width: 720%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}
#close #chatemoji3 {
  user-select: none;
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.685);
  position: absolute;
  padding: 1rem;
  font-size: 1.36rem;
  z-index: 22;

  right: -3rem;
  top: 3.7rem;
  padding: 0.4rem;
  border-radius: 1rem;
  width: 400%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 3.6rem;
}

/* styling the search bar */
.searchbar {
  z-index: 10;
  background-color: #fafafa;
  width: 100%;
  position: absolute;
}
#searchbar {
  height: 2.5rem;
}

.innerSearchbar {
  width: 100%;
  padding: 0.8rem 2.5rem;
}
.innerSearchbar i {
  position: absolute;
  padding: 1.1rem 2rem;
  word-spacing: 0.3rem;
  font-size: 1.7rem;
}
.innerSearchbar input {
  width: 80%;
  border-radius: 2rem;
  background-color: #f0f2f5;

  padding: 1rem;
  padding-left: 5rem;

  outline: none;
  font-size: 1.8rem;
  border: none;
}

#closee {
  font-weight: bolder;

  float: right;
  user-select: none;
  cursor: pointer;
  padding: 1rem 2rem;
  opacity: 0.9;
}

/* Styling the chat container */

#chatbox {
  height: calc(100vh - 12rem);

  overflow-y: auto;
  scroll-behavior: smooth;
}
#chatbox::-webkit-scrollbar {
  width: 0.8rem;
}
#chatbox::-webkit-scrollbar-thumb {
  background-color: rgb(17, 110, 231);
  border-radius: 2rem;
}
#chatbox::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2rem;
}

#chat-timestamp {
  text-align: center;
  margin: 1rem 0rem;
}
.botText {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 1.6rem;
  float: left;
  clear: both;
  width: 90%;
  text-align: left;
  margin-bottom: 0.7rem;
}

 .botMessage {
  line-height: 1.5em;
  word-break: break-word;
  display: inline-block;
  background: #e0e0e0;
  color: #121212;

  padding: 1rem;
  border-radius: 1rem;
  border-bottom-left-radius: 1.7rem;
  max-width: 80%;
  margin-left: 0.5rem;

  animation: floatup 0.5s forwards;
}

@keyframes floatup {
  from {
    transform: translateY(1.4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.botText img {
  position: relative;
  width: 4rem;

  top: 1.8rem;

  padding: 0rem;
  border-radius: 4rem;
  max-width: 100%;
  margin-left: 0rem;
  animation: floatup 0.5s forwards;
}

.userText {
  color: #fafafa;
  font-family: Helvetica;
  font-size: 1.6rem;
  font-weight: normal;
  float: right;
  clear: both;
  width: 90%;
  text-align: right;
  clear: both;
  margin-bottom: 0.7rem;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  word-break: break-word;
  background: #5ca6fa;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom-right-radius: 0px;
  max-width: 80%;
  margin-right: 1rem;
  animation: floatup 0.5s forwards;
}
/* Styling the input section */
#userInput {
  width: 100%;
}
.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: #e0e0e0;
  outline: none;
}
/* send button */
 .fa-send{
  color: #121212;
}

.chat-bar-input-block {
  display: flex;
  margin-bottom: 0.5rem;
  height: 5.3rem;
  border-radius: 1rem 1rem 0px 0px;
  padding: 1rem 0px 1rem 1rem;
}
.chat-bar-icons {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-bar-icons button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}
#chat-icon5 {
  margin: 0em 0.8rem;
  font-size: 2.3rem;
  position: relative;
  cursor: pointer;
}
/* Styling the conversation info */
.conversational-info {
  display: none;
  transition: transform 1.4s;
  overflow: auto;
  height: 100vh;

  width: 100%;
}
.back {
  font-size: 1.6rem;
  margin: 1rem;
  padding: 1rem;
  display: none;
}
.back i {
  cursor: pointer;
  user-select: none;
}
.personal-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.personal-info img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.personal-info strong {
  font-size: 1.8rem;
}

.indicator {
  border: none;
  margin: 2rem 0.1rem;
}
.customise {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 0rem 1.5rem;
  align-items: center;
  cursor: pointer;
}

.customise strong {
  user-select: none;
  width: 90%;
}
.customise i {
  font-size: 2.2rem;
}
.customise-chat {
  padding: 0.6rem;
}

 .content {
  margin-top: 1.2rem;
  background-color: #e1e0e04a;
  padding: 0.6rem;
  border-radius:.5rem;
}


.content .theme1 {
  user-select: none;
  border-radius: 1.5rem;
  cursor: pointer;

  margin-top: 0.4rem;
  padding: 1rem;
}
 .content .theme1 i {
  font-size: 2rem;
  margin-right: 1.5rem;

  color: rgb(31, 129, 241);
}

/* Styling the container of theme */
.themes {
  display: flex;
  flex-direction: column;
}
.themes span {
  display: flex;
  justify-content: space-around;
}

/* Styling the theme-container */
.outerTheme-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#outerTheme-Container {
  display: none;
}
.innerTheme-container {
  box-shadow: 0 0 0 100vmax #f6f6f694;
}
.theme-container {
  height: 80vh;
  position: absolute;
  z-index: 44;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
  margin: auto;
  width: 34.3rem;
  border-radius: 2.5rem;
  border: 1px solid;
}
.close-theme {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 2.3rem;
}
.close-theme i {
  float: right;
  font-size: 2.5rem;
  cursor: pointer;
}
.inner-theme-items {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 6rem));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  overflow: auto;
}
.inner-theme-items div {
  height: 5.5rem;
  display: inline-block;
  transition: all 0.3s;
  z-index: 28;
  margin: auto;
  width: 5.5rem;
  border-radius: 100vmax;
  cursor: pointer;
}
.inner-theme-items::-webkit-scrollbar {
  width: 0.8rem;
}
.inner-theme-items::-webkit-scrollbar-thumb {
  background-color: rgb(17, 110, 231);
  border-radius: 2rem;
}
.inner-theme-items::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2rem;
}
#orangeTheme1 {
  background-color: #fa5b0f;
}
#theme-item2 {
  background-color: #37b182;
}
#theme-item3 {
  background-color: #1854b4;
}
#theme-item4 {
  background-color: #606060;
}
#theme-item5 {
  background-color: #260a4d;
}
#theme-item7 {
  background-color: #8f0e0e;
}
#theme-item6 {
  background-color: #1a2238;
}
#theme-item8 {
  background-color: #b1810b;
}
#theme-item9 {
  background:linear-gradient(45deg,  Red, orange, yellow, green, blue, indigo, violet) ;
}
#theme-item10 {
  background: linear-gradient(to right,  rgb(50, 80, 32), rgb(76, 112, 56), rgb(83,131,57));
}
#theme-item11 {
  background:linear-gradient(45deg,  #852020, #aa3232, #917633);
}

/* Copyright Documentation */
.copyright{
  width:100%;
  text-decoration: underline;
  font-weight: bold;
  display:flex;
  justify-content: center;
  position: absolute;
  bottom:0%;
  margin: 15px auto;
}


/* hover effects */
@media (hover: hover) {
  #dark:hover #DBM {
    display: flex;
  }
  #collapser:hover #chatemoji2 {
    display: flex;
  }
  #close:hover #chatemoji3 {
    display: flex;
  }
  #closee:hover {
    opacity: 0.7;
  }
  #chat-icon5:hover {
    color: #257bdd !important;
  }
  .personal-info strong:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .customise:hover {
    transform: scale(0.95);
  }
  .brightTheme .theme1:hover {
    background-color: rgba(223, 201, 201, 0.89);
    border-radius: 1.5rem;
  }
}
