@media (hover: hover) {
  .redTheme1 .theme1:hover {
    background-color: darkred;
    border-radius: 1.5rem;
  }
  .darkTheme .theme1:hover {
    background-color: #121212;
    border-radius: 1.5rem;
  }
  .orangeTheme1 .theme1:hover {
    background-color: #fa5b0f !important;
  }
  .greenTheme1 .theme1:hover {
    background-color: #37b182 !important;
  }
  .blueTheme1 .theme1:hover {
    background-color: #1854b4 !important;
  }
  .greenTheme1 .theme1:hover {
    background-color: #606060 !important;
  }
  .darkTheme2 .theme1:hover {
    background-color: #260a4d !important;
  }
  .redTheme1 .theme1:hover {
    background-color: #8f0e0e !important;
  }
  .darkTheme3 .theme1:hover {
    background-color: #1a2238 !important;
  }
  .goldenTheme1 .theme1:hover {
    background-color: #b1810b !important;
  }
  .rainbowTheme1 .theme1:hover {
    background: linear-gradient(
      45deg,
      Red,
      green,
      blue,
      indigo,
      violet,
      orange,
      yellow
    ) !important;
  }
  .greenTheme2 .theme1:hover {
    background: linear-gradient(
      to right,
      rgb(50, 80, 32),
      rgb(76, 112, 56),
      rgb(83, 131, 57)
    ) !important;
  }
  .girlTheme1 .theme1:hover {
    background: linear-gradient(45deg, #852020, #aa3232, #917633) !important;
  }
}

/* =============== THIS IS FOR THE DARK THEME =========== */

.darkTheme {
  background-color: #121212 !important;
  color: #fafafa !important;
}
/* ==== dropdown background css ==== */
.darkTheme .content {
  background-color: #625d5d61 !important;
}
/* ==== dropdown icons css ==== */
.darkTheme .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.darkTheme .searchbar {
  background-color: #121212 !important;
}
.darkTheme .text-field {
  background-color: rgba(84, 84, 84, 0.48) !important;
  color: #fafafa !important;
}
.darkTheme .searchFontIcon {
  color: #121212 !important;
}

/* ===== message send button css ==== */
.darkTheme .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.darkTheme .input-box {
  background-color: rgb(84 84 84 / 48%) !important;
  color: #fafafa !important;
}

/* ====== botMessage css ==== */
.darkTheme .botMessage {
  background: rgb(84 84 84 / 48%) !important;
  color: #fafafa !important;
}

/* ===== mode button =====*/
.darkTheme #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.darkTheme .close-theme {
  background-color: #121212 !important;
}

/* =============== THIS IS FOR THE ORANGE THEME =========== */

.orangeTheme1 {
  background-color: #fa5b0f !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.orangeTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.orangeTheme1 .searchbar {
  background-color: #fa5b0f !important;
}
.orangeTheme1 .text-field {
  color: #fafafa !important;
}
.orangeTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.orangeTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.orangeTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.orangeTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.orangeTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.orangeTheme1 .close-theme {
  background-color: #fa5b0f !important;
}

/* =============== THIS IS FOR THE GREEN THEME =========== */

.greenTheme1 {
  background-color: #37b182 !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.greenTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.greenTheme1 .searchbar {
  background-color: #37b182 !important;
}
.greenTheme1 .text-field {
  color: #fafafa !important;
}
.greenTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.greenTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.greenTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.greenTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.greenTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.greenTheme1 .close-theme {
  background-color: #37b182 !important;
}

/* =============== THIS IS FOR THE BLUE THEME =========== */

.blueTheme1 {
  background-color: #1854b4 !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.blueTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.blueTheme1 .searchbar {
  background-color: #1854b4 !important;
}
.blueTheme1 .text-field {
  color: #fafafa !important;
}
.blueTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.blueTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.blueTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.blueTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.blueTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.blueTheme1 .close-theme {
  background-color: #1854b4 !important;
}

/* =============== THIS IS FOR THE GREY THEME =========== */

.greyTheme1 {
  background-color: #606060 !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.greyTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.greyTheme1 .searchbar {
  background-color: #606060 !important;
}
.greyTheme1 .text-field {
  color: #fafafa !important;
}
.greyTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.greyTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.greyTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.greyTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.greyTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.greyTheme1 .close-theme {
  background-color: #606060 !important;
}

/* =============== THIS IS FOR THE DARKTHEME2 THEME =========== */

.darkTheme2 {
  background-color: #260a4d !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.darkTheme2 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.darkTheme2 .searchbar {
  background-color: #260a4d !important;
}
.darkTheme2 .text-field {
  color: #fafafa !important;
}
.darkTheme2 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.darkTheme2 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.darkTheme2 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.darkTheme2 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.darkTheme2 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.darkTheme2 .close-theme {
  background-color: #260a4d !important;
}

/* =============== THIS IS FOR THE RED THEME =========== */

.redTheme1 {
  background-color: #8f0e0e !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.redTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.redTheme1 .searchbar {
  background-color: #8f0e0e !important;
}
.redTheme1 .text-field {
  color: #fafafa !important;
}
.redTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.redTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.redTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.redTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.redTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.redTheme1 .close-theme {
  background-color: #8f0e0e !important;
}

/* =============== THIS IS FOR THE DARKTHEME3 THEME =========== */

.darkTheme3 {
  background-color: #1a2238 !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.darkTheme3 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.darkTheme3 .searchbar {
  background-color: #1a2238 !important;
}
.darkTheme3 .text-field {
  color: #fafafa !important;
}
.darkTheme3 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.darkTheme3 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.darkTheme3 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.darkTheme3 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.darkTheme3 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.darkTheme3 .close-theme {
  background-color: #1a2238 !important;
}

/* =============== THIS IS FOR THE GOLDEN THEME =========== */

.goldenTheme1 {
  background-color: #b1810b !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.goldenTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.goldenTheme1 .searchbar {
  background-color: #b1810b !important;
}
.goldenTheme1 .text-field {
  color: #fafafa !important;
}
.goldenTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.goldenTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.goldenTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.goldenTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.goldenTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.goldenTheme1 .close-theme {
  background-color: #b1810b !important;
}

/* =============== THIS IS FOR THE RAINBOW THEME =========== */

.rainbowTheme1 {
  background: linear-gradient(
    45deg,
    Red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.rainbowTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.rainbowTheme1 .searchbar {
  background: linear-gradient(
    45deg,
    Red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ) !important;
}
.rainbowTheme1 .text-field {
  color: #fafafa !important;
}
.rainbowTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.rainbowTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.rainbowTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.rainbowTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.rainbowTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.rainbowTheme1 .close-theme {
  background: linear-gradient(
    45deg,
    Red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

/* =============== THIS IS FOR THE GREENTHEME2 THEME =========== */

.greenTheme2 {
  background: linear-gradient(
    to right,
    rgb(50, 80, 32),
    rgb(76, 112, 56),
    rgb(83, 131, 57)
  ) !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.greenTheme2 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.greenTheme2 .searchbar {
  background: linear-gradient(
    to right,
    rgb(50, 80, 32),
    rgb(76, 112, 56),
    rgb(83, 131, 57)
  ) !important;
}
.greenTheme2 .text-field {
  color: #fafafa !important;
}
.greenTheme2 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.greenTheme2 .fa-send {
  color: #121212 !important;
}

/* ==== User input css ==== */
.greenTheme2 .input-box {
  color: #fafafa !important;
}

/* ====== botMessage css ==== */
.greenTheme2 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.greenTheme2 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.greenTheme2 .close-theme {
  background: linear-gradient(
    to right,
    rgb(50, 80, 32),
    rgb(76, 112, 56),
    rgb(83, 131, 57)
  ) !important;
}

/* =============== THIS IS FOR THE GIRL THEME =========== */

.girlTheme1 {
  background: linear-gradient(45deg, #852020, #aa3232, #917633) !important;
  color: #fafafa !important;
}

/* ==== dropdown icons css ==== */
.girlTheme1 .theme1 i {
  color: #fafafa !important;
}

/* ==== searchbar input css ==== */
.girlTheme1 .searchbar {
  background: linear-gradient(45deg, #852020, #aa3232, #917633) !important;
}
.girlTheme1 .text-field {
  color: #fafafa !important;
}
.girlTheme1 .searchFontIcon {
  color: #fafafa !important;
}

/* ===== message send button css ==== */
.girlTheme1 .fa-send {
  color: #fafafa !important;
}

/* ==== User input css ==== */
.girlTheme1 .input-box {
  color: #121212 !important;
}

/* ====== botMessage css ==== */
.girlTheme1 .botMessage {
  color: #121212 !important;
}

/* ===== mode button =====*/
.girlTheme1 #dark {
  background-color: #fafafa;
}
/* ===== Theme Container Css ===== */
.girlTheme1 .close-theme {
  background: linear-gradient(45deg, #852020, #aa3232, #917633) !important;
}
