@media (hover: hover) {
  .darkredtheme .theme1:hover {
    background-color: darkred;
    border-radius: 1.5rem;
  }
  .darktheme .theme1:hover {
    background-color: #121212;
    border-radius: 1.5rem;
  }
}
/* This is for the dark theme */
.darktheme .content {
  margin-top: 1.2rem;
  background-color: #625d5d61;
  padding: 0.6rem;
}
.darktheme .theme1 i {
  font-size: 2rem;
  margin-right: 1.5rem;

  color: #fafafa;
}

.darktheme .theme1 {
  user-select: none;
  border-radius: 1.5rem;
  cursor: pointer;

  margin-top: 0.4rem;
  padding: 1rem;
}

.darkchatbox .botMessage {
  line-height: 1.5em;
  word-break: break-word;
  display: inline-block;
  background: rgb(84 84 84 / 48%);
  color: #fafafa;

  padding: 1rem;
  border-radius: 1rem;
  border-bottom-left-radius: 1.7rem;
  max-width: 80%;
  margin-left: 0.5rem;

  animation: floatup 0.5s forwards;
}
/* This is for the red theme */
.darkredtheme .content {
  margin-top: 1.2rem;
  background-color: rgb(190, 19, 19);
  padding: 0.6rem;
}
.darkredtheme .theme1 i {
  font-size: 2rem;
  margin-right: 1.5rem;

  color: #fafafa;
}

.darkredtheme .theme1 {
  user-select: none;
  border-radius: 1.5rem;
  cursor: pointer;

  margin-top: 0.4rem;
  padding: 1rem;
}
.darkRedchatbox .botMessage {
  line-height: 1.5em;
  word-break: break-word;
  display: inline-block;
  background: rgb(84 84 84 / 48%);
  color: #fafafa;

  padding: 1rem;
  border-radius: 1rem;
  border-bottom-left-radius: 1.7rem;
  max-width: 80%;
  margin-left: 0.5rem;

  animation: floatup 0.5s forwards;
}

/* Next theme color : #6edf00 */
