<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
    <link rel="stylesheet" href=" {{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href=" {{url_for('static', filename='css/theme.css')}}" />
    <link rel="stylesheet" href=" {{url_for('static', filename='css/responsive.css')}}" />
    <script defer src=" {{url_for('static', filename='scripts/index.js')}}"></script>
    <script defer src=" {{url_for('static', filename='scripts/theme.js')}}"></script>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Chat Bot</title>
  </head>
  <body >
    <section class="main-section" id="main-section" >
    <section id="chatbot" >
      <div class="flexer" id="flexer">
        <div class="chat-bar-collapsible">
        <div class="chat-navbar-collapsible">
          <div class="right-head">
            <img src=" {{url_for('static', filename='img/chatbot1.png')}}" alt="profile_picture" />
            <strong ">Jelly</strong>
            <i id="comments" class="fa fa-comments chaticon" aria-hidden="true" style="font-size: 2.2rem;"></i>
          </div>
          <div class="left-head">
           
            <div id="dark" style="display: inline-block;">
            <i class="fa fa-circle chaticon" aria-hidden="true" id="darkmode" style="color: white;" >
              <span id="DBM" style="color: white;">Dark mode</span>
            </i>
          </div>
            <i  class="fa fa-info-circle chaticon" id="collapser" aria-hidden="true"><span id="chatemoji2">conversational info</span></i>
            <i id="close" class="fa fa-times chaticon"  aria-hidden="true"><span id="chatemoji3">close</span></i>
          </div>
        </div>
        <div class="full-chat-block">

            <div class="outer-container">
                <div class="chat-container">

                
           
                    <div class="bigchatbox">
                    <div id="chatbox" class="chatbox">
                              <!-- Search bar -->
                              <div id="searchbar" style="display: none;">
                  <div class="searchbar" id="innerSearchBar"  >
                    <div class="innerSearchbar">
                     
                       <i class="fa fa-search" aria-hidden="true" id="searchFontIcon"></i>
                       <span id="closee">close</span>
                        <input type="search" class="text-field" id="user-TextInput" placeholder="Search Conversation">
                        
                        
                        
                     
                    </div>
                  </div></div>
                        <h5 id="chat-timestamp"></h5>
                        <p id="botStarterMessage" class="botText search"><img src="{{url_for('static', filename='img/chatbot1.png')}}"><span class="botMessage" >Loading...</span></p>
                        
                        <!-- <p id="botStarterMessage" class="userText"><span class="search">How are you bot</span></p> -->
                        
                    </div>
                </div>

                    <!-- User input box -->
                    <form method="post" id="formm" autocomplete="off" >

                    <div class="chat-bar-input-block" id="input-block">
                        <div id="userInput" >
                            <input id="textInput" class="input-box" type="text" name="msg"
                                placeholder="Tap 'Enter' to send a message">
                            
                        </div>

                        <div class="chat-bar-icons">
                         
                         
                            <i id="chat-icon4" style="color: #ff0030;" class="fa fa-fw fa-heart"
                                >  <span id="emoji">choose an emoji</span></i>
                                <button type="submit">
                            <i id="chat-icon5" style="color: rgb(34, 33, 33);" class="fa fa-fw fa-send"></i>
                            </button>
                        </div>
                    </div>
                </form>

                    <div id="chat-bar-bottom">
                        <p></p>
                    </div>

                </div>
            </div>

        </div>
                </div>

            <div class="outerTheme-container" id="outerTheme-Container">
              <div class="innerTheme-container">
              <div class="theme-container" >
                <div class="close-theme" id="close-Theme">
                  <strong>Themes</strong>
                  <i id="closeThemeContainer" class="fa fa-times-circle-o" aria-hidden="true"></i>   
              </div>
              <div class="theme-items">
                <div id="dark-red-theme"></div>
                <div id="theme-item2"></div>
                <div id="theme-item3"></div>
                <div id="theme-item4"></div>
                <div id="theme-item5"></div>
                <div id="theme-item6"></div>
                <div id="theme-item7"></div>
                <div id="theme-item8"></div>
                <div id="theme-item9"></div>
                <div id="theme-item10"></div>
              </div>
              </div> 
            </div>
            </div>
      </div>
      <div id="conversation" class="conversational-info" style="display:none;">
        <div class="back" >

        <i id="back" class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
        <div class="personal-info">
          <img src="{{url_for('static', filename='img/chatbot2.png')}}" alt="profile_picture" />
          <h3>Jelly</h3>
        </div>
        <hr class="indicator">
        <div class="toogletheme" id="toogletheme">
            <div class="customise-chat" >
              <div class="customise"id="dropdown1">
              <strong>Customise chat-look</strong>
              <i id="angle_down1" class="fa fa-angle-down" 
              aria-hidden="true"></i>
              <i style="display:none;" id="angle_up1" class="fa fa-angle-up" 
              aria-hidden="true"></i>
            </div>
              <div class="content" id="dropdown_content1" style="display: none;">
                <div class="theme1" id="changeThemeButton">
                  <i id="themeicon1" class="fa fa-themeisle" aria-hidden="true"></i>
                <span class="change-theme">change theme </span>
              </div> 
            </div>
            </div>
            
            <div class="customise-chat"  >
              <div class="customise" id="dropdown2" >
              <strong>customise conversation</strong>
              <i id="angle_down2" class="fa fa-angle-down" 
              aria-hidden="true"></i>
              <i style="display:none;" id="angle_up2" class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <div  class="content" id="dropdown_content2" style="display:none;">
                <div class="theme1" id="deleteConversation">
                  <i id="themeicon3" class="fa fa-trash-o" aria-hidden="true"></i>
                <span>Delete conversation</span></div>
                <div class="theme1" id="searchConversation">
                  <i id="themeicon4" class="fa fa-search" aria-hidden="true"></i>
                <span>Search Conversation</span>
              </div>
              </div>
              
            </div>
          </div>
          </div>
            
    </div>
    </section>
  </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
    <script >
      // basic ajax starts here
    var frm = $('#formm');
    
    frm.submit(function (e) {
      
      e.preventDefault();
      var userInput = $("#textInput").val()
      // since the model processing takes some time, its a good idea to print the 
      // user's input before sending it to the model
      
      print_user_input(userInput)
      // check if the global variable out is defined or not
      // out is the output of the model which is in the following format

      // {'generated_text': ' Hi, how are you? I just got back from walking my dog. 
      //                      Do you have any pets?', 
      // 'conversation': {
      //  'generated_responses': [' Hi, how are you? I just got back from walking my dog. 
      //                            Do you have any pets?'], 
      // 'past_user_inputs': ['Hello']}}
        if (typeof out !== 'undefined') {
          send_this = {
            "text":userInput,
            "previous_conversaion":out['conversation']
          }}
      // if the global variable is not defined then its the first time that the model is
      // about to be invoked
          else{
            send_this = {
              "text":userInput,
              "previous_conversaion":false
            }
          }
          // basic ajax again. then made it readonly for spam proffing
          $("#textInput").val("The model is loading... Please Wait a sec!");
          document.getElementById('textInput').readOnly = true
          $.ajax({
            type: 'post',
            // url: frm.attr('action'),
            url:"{{url_for('response')}}",
            contentType: 'application/json',
            dataType : 'json',
            data: JSON.stringify(send_this),
            
            success: function (output) {
              // declaring the global variable inside a function
              window.out = output
              print_bot_response(output['generated_text'])
              // allow use to write message again
              $("#textInput").val("");
              document.getElementById('textInput').readOnly = false

            },
            error: function (data) {
              console.log('An error occurred.');
              console.log(data);
            },
          });
        });
     
      // var form2 = $("#form2");
      // form2.submit(function(e){
      //   e.preventDefault();
      //   var userINput = new Array( $("#user-TextInput").val())
      //   console.log(userINput)
        

        
      //   $("#user-TextInput").val("")
      // })
  </script>
  
  </body>
</html>
